/*colors*/
.color-primary-0 { color: #17181A }	/* Main Dark Primary color */
.color-primary-1 { color: #3B4655 }
.color-primary-2 { color: #2D323A }
.color-primary-3 { color: #1E232A }
.color-primary-4 { color: #1E2939 }

.color-primary-0 { color: #3A3B3E }	/* Main Medium Primary color */
.color-primary-1 { color: #464C54 }
.color-primary-2 { color: #303235 }
.color-primary-3 { color: #26292B }
.color-primary-4 { color: #1B1D20 }

.color-primary-0 { color: #D5D8DC }	/* Main Light Primary color */
.color-primary-1 { color: #8B9BB1 }
.color-primary-2 { color: #AAB6C5 }
.color-primary-3 { color: #A0A5AC }
.color-primary-4 { color: #8C9199 }

/*style reset*/
html, html *{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font: 100% inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #D5D8DC;
}
ul li{
    list-style: none;
}
:focus{
    outline: 0;
}
button {
    background: none;
    cursor: pointer;
    font-variant: small-caps;
}
a{
    text-decoration: none;
}

/*basic styling*/
:root{
    --width: 0px;
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
    font-variant: small-caps;
}
p, table{
    font-family: Raleway, sans-serif;
}
.next{
    color: #D5D8DC;
    background:none;
    font-variant: small-caps;
    font-family: Raleway, sans-serif;
}
.next:hover{
    border: 2px #1B1D20 solid;
    color: #1B1D20;
    background-color: rgba(0, 0, 0, 0.4);
}

.page-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.next{
    opacity: 0;
}

.title-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1E2939;
    top: 0;
}
.title-card{
    text-align: center;
    position: relative;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8B9BB1;
    top: -100%;
    left: 0;

}
.intro-card{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 480px;
}

.skill-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3B4655;
    left: 0;
    top: -100%;
}
.skill-card{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 480px;
}

.edu-section{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #26292B;
    left: 0;
    top: -100%;
 }
.edu-card{
    text-align: center;
    position: relative;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 480px;
}
#skill-soft{
    background: url("../img/software.png");
}
#skill-web{
    background: url("../img/web.png");
}
#skill-app{
    background: url("../img/App.png");
}


@media only screen and (max-width: 499px){

    .title-card{
        height: 100%;
    }
    .title-card ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title-card h1{
        position: relative;
        left: -100%;
        font-size: 1.4em;
        font-variant: small-caps;
        white-space: nowrap;
    }
    .title-card h1 span{
        border-bottom: white solid 2px;
        padding-left: .15em;
        padding-right: .15em;
    }
    .titleH1{
        position: relative;
        left: 0;
    }
    .title-card li{
        margin-bottom: 5em;
    }
    .title-section .next{
        font-size: 1.4em;
        width: 6em;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        border: 2px #D5D8DC solid;
        padding: .2em .5em;
        border-radius: 50px;
    }
    .title-section .next:hover{
        border: solid 2px #1B1D20;
    }

    .intro-bottom{
        display: none;
    }
    .intro-portrait{
        display: none;
    }
    .intro-card{
        width: 94%;
        height: 96%;
    }
    .intro-content{
        height: 100%;
    }
    .intro-text-container {
        position: relative;
        width: 100%;
        height: calc(100% - 50px);
    }
    .intro-text{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .intro-contact{
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .intro-nav{
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        background-color: #1E232A;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .intro-nav .next{
        height: 50px;
        position: relative;
        float: right;
        width: 33%;
        margin-left: -15px;
    }
    .intro-nav .next:hover{
        color: #8B9BB1;
        border: none;
        border-left:2px solid #1B1D20;
        border-bottom-right-radius: 5px;
    }
    .intro-left{
        position: relative;
        float: left;
        width: 66%;
    }
    .tabSwitch{
        height: 50px;
        border-right: 2px solid #A0A5AC;
        font-size: 1em;
        width: 50%;
    }
    .tabSwitch:first-of-type{
        border-bottom-right-radius: 5px;
    }
    .tabSwitch:nth-of-type(2){
        margin-left: -4px;
    }
    .tabSwitch:hover{
        color: #8B9BB1;
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom-left-radius: 5px;
    }

    .skill-card{
        position: relative;
        width: 94%;
        height: 96%;
    }
    .skill-nav{
        width: 100%;
        height: 50px;
    }
    .skill-nav li{
        display: inline-block;
    }
    .skill-nav li:nth-of-type(2){
        margin: .2em 3em;
        float: right;
    }
    .skill-nav li:first-of-type{
        margin: .2em -9.5em .2em auto;
    }
    .skill-img{
        cursor: pointer;
        position: relative;
        width: 98%;
        background-color: #8C9199;
        border-radius: 10px;
        height: 20px;
        transition: .2s linear;
    }
    .skill-img-hidden{
        height: 20%;
    }
    .skill-content{
        position: relative;
        margin-bottom: 2em;
        overflow: hidden;
        height: 100px;
        transition: .2s linear;
    }
    .skill-hidden{
        height: 0;
    }

    .edu-card{
        width: 94%;
        height: 96%;
    }

}

@media only screen and (min-width: 500px){
    .next{
        font-size: 1.6em;
    }
    .title-card ul{
        position: relative;
    }
    .title-card li{
        margin-bottom: 2em;
    }
    .title-card h1{
        position: relative;
        left: -100%;
        font-size: 2em;
        font-variant: small-caps;
        letter-spacing: .1em;
        white-space: nowrap;
    }
    .title-card h1 span{
        border-bottom: white solid 2px;
        padding-left: .15em;
        padding-right: .15em;
    }
    .titleH1{
        position: relative;
    }
    .title-section .next{
        font-size: 1.4em;
        width: 6em;
        position: relative;
        border: 2px #D5D8DC solid;
        padding: .2em .5em;
        border-radius: 50px;
    }
    .title-section .next:hover{
        color: #8B9BB1;
        border: solid 2px #8B9BB1;
    }

    .intro-bottom{
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 100%;
        background: #17181A;
        z-index: 0;
    }
    .intro-card{
        width: var(--width);
        height: 500px;
        background: #A0A5AC;
        z-index: 1;
        box-shadow: 0 0 5px 0 #1E2939;
    }
    .intro-content{
        height: calc(100% - 50px);
        width: 100%;
        display: grid;
        grid-template-columns: 260px calc(100% - 260px);
    }
    .intro-portrait{
        width: 100%;
    }
    .intro-portrait img{
        position: relative;
        width: 200px;
        height : 300px;
        top: 50%;
        transform: translateY(-50%);
    }
    .intro-text-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .intro-text{
        padding: 1em;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .intro-contact{
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 1em;
    }
    .intro-contact h1{
        border-bottom: solid 2px #D5D8DC;
        margin-bottom: .5em;
        font-size: 2.5em;
    }
    .intro-contact table{
        width: 100%;
        font-size: 1.4em;
    }
    .intro-contact td:nth-of-type(odd){
        padding-left: 1em;
        text-align: left;
    }
    .intro-contact td:nth-of-type(even){
        padding-right: 1em;
        text-align: right;
    }
    .intro-nav{
        background-color: #464C54;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
    .intro-left{
        position: relative;
        float: left;
    }
    .intro-nav .next{
        position: relative;
        float: right;
        width: 5em;
        height: 50px;
        border-left: 2px solid #A0A5AC;;
    }
    .intro-nav .next:hover{
        color: #8B9BB1;
        border: none;
        border-left: #A0A5AC solid 2px;
    }
    .tabSwitch{
        border-right: 2px solid #A0A5AC;
        font-size: 1.6em;
        height: 50px;
        width: 5em;
    }
    .tabSwitch:nth-of-type(2){
        margin-left: -4px;
    }
    .tabSwitch:hover{
        color: #8B9BB1;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .intro-download{
        position: relative;
    }
    .download-button{
        font-size: 1.6em;
        height: 50px;
        border: 3px solid #D5D8DC;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 50px;
    }
    .download-content{
        font-size: 1.6em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        display: none;
    }
    .intro-download:hover .download-content {
        display: inherit;
    }

    .skill-card{
        position: relative;
        height: 90%;
        background-color: #8B9BB1;
    }
    .skill-nav{
        width: 100%;
        height: 50px;
    }
    .skill-nav li{
        display: inline-block;
    }
    .skill-nav li:nth-of-type(2){
        margin: .2em 3em;
        float: right;
    }
    .skill-nav li:first-of-type{
        margin: .2em -9.5em .2em auto;
    }
    .skill-wrapper{
        position: relative;
        height: calc(100% - 50px);
    }
    .skill-wrapper-inner{
        position: absolute;
        top: 5%;
    }
    .skill-wrapper-inner1{
        position: absolute;
        top: 35%;
    }
    .skill-wrapper-inner2{
        position: absolute;
        top: 65%;
    }
    .skill-wrapper-inner-hidden{

    }
    .skill-img{
        cursor: pointer;
        position: relative;
        width: 60%;
        background-color: #8C9199;
        left: 20%;
        border-radius: 15px;
        height: 20px;
        transition: .2s linear;
    }
    .skill-img-hidden{
        height: 200px;
    }
    .skill-content{
        position: relative;
        left: 20%;
        margin-bottom: 2em;
        width: 60%;
        overflow: hidden;
        height: 180px;
        transition: .2s linear;
    }
    .skill-hidden{
        height: 0;
    }
}

@media only screen and (min-width: 720px){
    .title-card h1{
        font-size: 2.5em;
        letter-spacing: .15em;
    }
}

@media only screen and (min-width: 1200px){
    .title-card li{
        margin-bottom: 3em;
    }
    .title-card h1{
        font-size: 3em;
        letter-spacing: .2em;
    }
}